@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;600&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --bg-color: #0AA1DD;
    --primary-color: #E8F9FD;
    --secondary-color: #00579e;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;;
    font-family: var(--font-family);
    font-weight: 100;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    display: inline-block;
    font-size: 4em;
    font-weight: 100;
    padding: 10px 20px;
    margin: 20px;
}

.btn-jogar {
    border: 1px solid var(--bg-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 40px;
    font-family: var(--font-family);
    font-size: 1.1em;
    font-weight: 500;
    opacity: 90%;
    cursor: pointer;
    transition-property: background-color, color, border;
    transition-duration: 0.5s;    
}

.btn-jogar:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
    transition: all 0.5s ease-out;
}